<div ng-controller="ListMoviesController">
	<div class="form-group col-xs-2">
	  <label for="name">Enter movie name</label>
	  <input type="text" name="name" class="form-control" id="name" ng-model="searchBox">
	  <button class="btn btn-primary" ng-click="findMovie()">Find</button>
	</div>
	
	
	<table class="table">
	<thead>
		<tr>
	 	<th>Name</th>
	 	<th>Description<th>
		</tr>
	</thead>
	<tbody>
	 <tr ng-repeat="movie in movies">
		 <td><a ng-click="foundMovie(movie.id)">{{movie.name}}</a></td>
		 <td>{{movie.description}}</td>
	 </tr>
	</tbody>
	</table>
</div>